.navbar{
    margin-bottom: 0px;
}
body
{
    

}
.mainHeading{
    background-image: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
    background-size: cover;
    padding-bottom: 20rem;
}
html{
    height: 100%;
}
#content
{
    text-align: center;
    padding-top: 15%;
    color:white; 
    text-shadow: lightblue;
}
hr{
    width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgb(0,0,0.2);
}
.navbar-inverse{
	color: grey;
}
h2
{
    text-align: center;
    color: black;
}
.slideup
{
    text-align: center;
    font-size: 20;
}
h3{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
}
#lang{
    align-content: center;
}
