
body
{
    background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
    background-size: cover;
}
html{
    height: 100%;
}
#content
{
    text-align: center;
    padding-top: 30%;
    color:black; 
    text-shadow: lightblue;
}
hr{
    width: 400px;
}